
body{   

    background: linear-gradient(180deg, #E3F2FD, #6C7A4F 50%, #9C6B3B 100%);
    aspect-ratio: 9 / 16;
}
.off-screen-menu {
    background-color: #2C3E50 ;
    height: 100vh;
    width: 80%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    font-size: 1.5rem;
    transition: 3.s ease;

}


.off-screen-menu.active{
    left: 0;

}
nav{
    padding: .1rem;
    display: flex;
    background-color: #3E5C55;
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: 0.3rem;
    position: relative;
}
.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: rgb(212, 244, 254);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); 
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); 

}
.low-menu,.mid-menu,.top-menu{
    list-style: none;
    padding: 2rem;
    position: relative;
    text-align: left;
    justify-content: left;
    top: 5rem

}
.low-menu{
    background-color: #C97B63;
    width: 89%;
}
.mid-menu{
    background-color: #7CA6A1;
    width: 89%;
}
.top-menu{
    background-color: #F5F1EB;
    width: 89%;
}
