
body{   /*Giver baggrunden en gradient, definerer højde/bredde og sætter font til Helvetica*/
    margin: 0 ;
    background: linear-gradient(153deg, rgb(162, 192, 187), #6C7A4F 50%, #9C6B3B 100%);
    min-height: 100vh;
    width: 100%;
    aspect-ratio: 9 / 16;
    font-family: Helvetica;
    height: 1150px;
}
/* Bestemmer størrelsen på p samt skrift*/
body p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
/* Bestemmer størrelsen på højden af hjemmesiden*/
body.destination{
    height: 1700px;
}
/* Bestemmer størrelsen på højden af hjemmesiden*/
body.bornholm{
  height: 800px;
}
/* Bestemmer størrelsen på højden af hjemmesiden*/
body.huk{
  height: 700px;
}
/* Bestemmer størrelsen på højden af hjemmesiden*/
body.skagen{
  height: 900px;
}
/* Bestemmer størrelsen på højden af hjemmesiden*/
.om-os-side{
  height: 900px;
}

/* Dette element gør så links til andre sider har farven hvid.  */
a { 
    text-decoration: none;
    color: white; 
}



/*Element gør så logoet er 60px højt*/
.logo {
  height: 60px;
}

/*Om os siden*/
.om-os{
color: white; 
line-height: 1.6;
   margin: 0 auto; 
    padding: 0 40px; 
    max-width: 800px; 
    text-align: center;
}

/*Går ind og ændre på h1, h2 og h3*/
.om-os h1, h2, h3 {
 font-family: Helvetica, sans-serif;
 text-shadow: 2px 2px black;
 font-size: 25px;
 margin-top: 40px;
 margin-bottom: 30px;
}
.om-os p {
  font-size: 16px;
  font-family:'Times New Roman', Times, serif ;
  margin-bottom: 15px;
}
/*Ændre på den hr som har classen hamline*/
.hamline{
  border: 1px solid white;
  text-shadow: 0px 0px;
}
/*Det er de hr som er på selve siderne som den ændre på*/
.forside-hr{
   border: 1px solid black;
}
/*Denne giver længde til strengen i toppen så de ændres til at kun fylde 80% af skærmen*/
.topafside {
  width: 80%;
  border: 1px solid black;
}


/*Definerer hamburger-menuens container med bredde, højde og kolonne-layout */
.off-screen-menu {
    height: 100vh;
    width: 110%;
    max-width: 500px;
    position: fixed;
    top: .5em;
    left: -500px;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Helvetica;
    transition: 3.s ease;
    z-index: 9999;
}
/*Gør så den starter fra venstre side når menuen bliver åbent */
.off-screen-menu.active{
    left: 0;
    z-index: 9999;

}
/*Sætter hamburger-menu og logo på linje ved hjælp af flexbox*/
.top-menu-placement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
     z-index: 9999;
}
/*Dette element givet en lille afstand fra siden af og ind samt når der brgues display flex så kommer det i flex box mod.  */
nav{
    padding: .01rem;
    display: flex;
     z-index: 9999;
} 
/*Dette element er den hamburger menu som kan ses på siden som man kan trykke på*/
.ham-menu {
    display: fixed;
    height: 40px;
    width: 40px;
    margin-left: 0.7rem;
    position: relative;
} 
/*Dette element er når man har trykket på selve menuen så det giver den nogle indstillinger som kan ændre breden på selven boksen som er i menu så den fylder hele skærem fra den ene side til den anden.Transform gør så selve menuen ændre sig når man trykker på den.*/
.ham-menu span{
    height: 4px;
    width: 100%;
    background-color: rgb(126, 126, 126);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
/*Dette som dette element gør er at flytte den øverest linje ned som den gå henover midten*/
.ham-menu span:nth-child(1){
    top: 25%;
}/*Den nederste linje flyttes også til midten bliver den ene skrå streg i et x*/
.ham-menu span:nth-child(3){
    top: 75%;
}/*Dette som dette element gør er at flytte den øverest linje ned som den gå henover midten*/
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); 
}/*Den midterste linje bliver skjult bliver usynlig, så man ikke ser den længere*/
.ham-menu.active span:nth-child(2){
    opacity: 0;
}/*Den nederste linje flyttes også til midten. bliver den anden skrå streg i x*/
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); 

}
/*Dette giver de forskellige punkter i menuen en padding samtidig gør ind og bestemmer hvilken postion de skal have*/
.low-menu,.mid-menu,.top-menu{
    list-style: none;
    padding: 2rem;
    padding-left: .8em;
    position: relative;
    top: 2.5rem;
    right: 2.5rem;
    width: 100%;
    overflow: hidden;

}/*Giver den øverest farve*/
.top-menu{
    background-color: #7CA6A1;
   
}/*Giver den i midten farve*/
.mid-menu{
    background-color: #415f48;
}/*Giver den nederest farve*/
.low-menu{
    background-color: #A68A64;
}
/*Dropdown menu bliver skjult*/
.sub-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

}
/*Denne styler undermeuens elementer*/
.sub-menu li {
  background: #415f48;
  padding: 10px;
  padding-top: 15px;
  padding-left: 1px;  
}
/**/
.sub-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/**/
.mid-menu.active .sub-menu {
  display: block;
}

/* Styling af selve pilen */
.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 5px;
}

/* Når dropdown er i bbrug så peger piler op af */
.mid-menu.active .dropdown-toggle::after {
  content: "❮";
  display: inline-block;
  transform: rotate(90deg);
  color: white;
}

/* Når dropdown ikke er brug så laver den en pil ned af  */
.dropdown-toggle::after {
   content: "❯";
  display: inline-block;
  transform: rotate(90deg);
  color: white;
}
ul{
    color: white;
}

body, .nb1-picture, .nb2-picture, .nb3-picture {
    padding: 0;
    margin: 0;
}

/*Dette ændre på de billeder som er på destinations siden*/
.nb1-picture, .nb2-picture, .nb3-picture {
      margin: auto; 
      display: block; 
      max-width: 370px;

}
/*Denne ændre på knappen som er ved billederne på destinationssiden*/
.pictures button{
    margin: auto; 
    display: block;  
    
}
/*Gør den centeret, hvor de er hvide med en skyggeeffekt*/
.forsidetekst h1
 {  font-size: 24px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    text-shadow: 2px 2px black;
   
 }
/*Gør den centeret, hvor de er hvide med en skyggeeffekt*/
 .forsidetekst {
font-size: 16px;
  font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: white; 
line-height: 1.6;
   margin: 0 auto; 
    padding: 0 40px; 
    max-width: 800px; 
    text-align: center;
 }
/*Denne ændre brødteksten under billederne på destinationssiden */
.billede-tekst {
    font-size: 16px;
    line-height: 1.6;
    margin-left:40px;
    margin-right:40px;
    color: white;
    
}
#links {
  color: #0000EE;
  font-size: 24px;
  text-shadow: none;
  border-bottom: .5px solid black;
}

/*Dette gør teksten med skygge og centering*/
.destination-side
{
  font-size:25px;
  line-height: 1.6;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: underline ;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
}
/*Dette gør teksten med skygge og centering*/
.destination-side-hr{
  font-size:25px;
  line-height: 1.6;
  margin: auto;
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(0, 0, 0);
}
/*Knapper der er call-to-action som den har grøn baggrund og centeret*/
#book-nu{
    display: block;
    margin: 20px auto; /* ← auto i siden = centreret */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #415f48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
/*Knapper der er call-to-action som den har grøn baggrund og centeret*/
.læs-mere {
display: block;
    margin: 20px auto; /* ← auto i siden = centreret */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #415f48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}




/*Dette stykke er for karusellen på de forskellige destinations sider */
* {box-sizing:border-box}

* {box-sizing:border-box}

/* Slideshow container som giver det en max bredder samt gør det bliver centeret*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; 
}

/* Skjuler alle slides som standard */
.mineSlides {
  display: none;
  position: relative;
}

/* Knap til næste og forrige billede i slideshowet */
.forrig, .neste {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin: auto;
}

/* giver knappen positionen til højre */
.neste {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* giver knappen positionen til venstre */
.forrig {
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* Her kan man ændre på caption teksten som er på billede */
.tekst {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
   text-shadow: 2px 2px rgb(0, 0, 0);
}

/* Number tekst (1/3 osv) */
.numbertekst {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* Dette er en animation som får det til at fade over. */
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Højde på billederne i slideshowet */
.mineSlides img{
    height: 200px;

}

